.home {
  width: 100%;
  min-height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home img {
  width: 500px;
  height: 500px;
}

.home p {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.home span {
  font-size: 3.5rem;
  color: var(--red);
  font-weight: bold;
}

.home .btn {
  width: 250px;
  height: 60px;
  font-size: 1.125rem;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.btn_red {
  color: var(--white);
  background-color: var(--red);
}

.btn_red:hover {
  transition: all 1s;
  background-color: var(--primary);
}

@media screen and (max-width: 870px) {
  /* Estilizações CSS */
  .home img {
    width: 300px;
    height: 300px;
  }
  .home p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .home span {
    font-size: 1.75rem;
    color: var(--red);
    font-weight: bold;
  }

  .home .btn {
    text-align: center;
    width: 150px;
  }
}

@media screen and (max-width: 520px) {
  /* Estilizações CSS */
  .home img {
    width: 250px;
    height: 250px;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .home span {
    font-size: 1.75rem;
    color: var(--red);
    font-weight: bold;
  }

  .home .btn {
    text-align: center;
    width: 150px;
  }
}
